.movie-section {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  color: #0f171e;
  font-weight: 400;
  min-height: 84.5vh;
}

@media screen and (min-width: 1024px) {
  .movie-section {
    flex-direction: row;
  }
}

.movie-rating {
  padding-left: 3px;
  margin-top: 20px;
  color: #79b8f3;
  display: flex;
}

.movie-rating span {
  margin-right: 20px;
}

.movie-title {
  font-size: 40px;
  color: #0f171e;
}

.movie-plot {
  margin-top: 20px;
  line-height: 1.8rem;
}

.movie-info>div span:first-child {
  padding: 10px 0px;
  color: #0f171e;
  font-weight: 600;
  width: 100px;
  display: inline-block;
}

.movie-info>div span {
  color: #79b8f3;
}

.fa-star {
  color: #ff9e00;
}

.fa-thumbs-up {
  color: #fafafa;
}

.fa-film {
  color: rgb(191, 213, 214);
}

.fa-calendar {
  color: peachpuff;
}

.section-right img {
  margin: 1rem auto;
}